section.protect
    .container
        ul.protect__list.row
            li.protect-item
                +icon('lock')
                h3.protect-item__title Real-time all the time
                .protect-item__desc 
                    p
                        | Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
                    p
                        | Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
            li.protect-item
                +icon('clock')
                h3.protect-item__title Adopt without any obstacles
                .protect-item__desc 
                    p
                        | This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
                    p
                        | This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.
        .row
            .protect-item__right.protect-item--img
                h2.protect-item__title-big Your day is protected
                .protect-item__desc 
                    p
                        | There have not been any since we have lived here, said my mother. 
                    p
                        | We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.
                .protect__btn-line
                    a(href="javascript:void;").btn.btn--blue 
                        span Try to hack us
                        +icon('arrow')
                    a(href="javascript:void;").btn.btn--border Learn more