include common/_mixins
block variables

doctype html
html(lang="ru-RU")
  include common/_generals

  body
      include ./common/_header
      
      //- основной контент
      block content

      include ./common/_footer