extends _template
 
block variables
    - var title= 'Index page'
    - var url_js= 'app.js' 

block content
    include ./pages/index/_our-skills
    include ./pages/index/_gallery
    include ./pages/index/_we-done
    include ./pages/index/_form