html
  block source
    - var url_js= 'index.js'

  include common/_generals

    
  block title
    - var title= 'Index page'
  body
    div(id="page-preloader").preloader
      .loader
        span(id="load-perc")