footer.footer
    .container
        .row
            .footer__col
                a(href="").footer__politic политика конфидециальности
                .barnd-logo BRAND-LOGO          
            .footer__col
                ul.footer__nav-list
                    li.footer__nav-item
                        a.footer__nav-link Главная
                    li.footer__nav-item
                        a.footer__nav-link Контакты
                    li.footer__nav-item
                        a.footer__nav-link Портфолио
                    li.footer__nav-item
                        a.footer__nav-link Торги/Закупки
            .footer__col
                span.footer__title Адрес офиса:
                span.footer__city г. Санкт-Петербург
                span.footer__adress ул. Красные ворота 132 к1 оф. 24
            .footer__col
                .footer__title Контакты:
                .footer__descr 9 897 654 32 11
                .footer__descr 9 897 654 32 11
                .footer__email FIrma@stroim.ru
