header.header
    .header__top
        .container
            .header__line
                .barnd-logo BRAND-LOGO
                nav.nav.nav-header
                    ul.nav__list
                        li.nav__list-item
                            a.nav__list-link Главная
                        li.nav__list-item
                            a.nav__list-link Контакты
                        li.nav__list-item
                            a.nav__list-link Портфолио
                        li.nav__list-item
                            a.nav__list-link Торги/Закупки
    .header__section
        .container
            .header__center-content
                .header__heading
                    span.header__heading-top Мы строим твой
                    h1.header__heading-main 
                        | Дом 
                        span.text-acsent мечты
                    span.header__heading-descr Микрорайоны, многоквартирные дома, отделка, коммуникации
                    a(href="#").btn.btn-border Связаться с нами
                    a(href="#").btn.btn-heading Подробнее
                        +icon('arrow-right')