.parallax
    .parallax__group
        .parallax__layer.parallax__layer--back
            .img
        .parallax__layer.parallax__layer--base
             .header__section
                .container
                    .header__center-content
                        .header__heading
                            span.header__heading-top Мы строим твой
                            h1.header__heading-main 
                                | Дом 
                                span.text-acsent мечты
                            span.header__heading-descr Микрорайоны, многоквартирные дома, отделка, коммуникации
                            a(href="#").btn.btn-border Связаться с нами
                            a(href="#").btn.btn-heading Подробнее
                                +icon('arrow-right')