.footer {
    background-color: rgba($header-bg, 0.9);
    padding: 30px 0;
    color: $white;
    .row {
        justify-content: space-between;
        @include sm(justify-content, center);
        @include sm(flex-direction, column);
    }

    .barnd-logo {
        margin-top: 20px;
        @include sm(margin-left, auto);
        @include sm(margin-right, auto);
    }
}

.footer__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @include sm(margin-top, 10px);    
    @include sm(margin-bottom, 10px);    
}

.footer__nav-link {
    display: block;
    padding: 5px;
    transition: 0.5s color;
    @include sm(text-align, center);
}

.footer__nav-item {
    &:hover {
        .footer__nav-link {
            color: $acsent;
        }
    }
}

.footer__title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.footer__descr,
.footer__city,
.footer__adress {
    margin-bottom: 10px;
}

.footer__title,
.footer__city,
.footer__adress,
.footer__descr,
.footer__email,
.footer__politic {
    @include sm(text-align, center);
}