body,
html {
    height: 100%;
    width: 100%;
}

html {
    line-height: 1;
    font-size: 62.5%;
    box-sizing: border-box;
    color: $text-color;
}

body {
    font-size: 2rem;
    font-family: $main-font;
    background-color: $white;
    @include desktop() {
        font-size: 1.8rem;
    }
    @include laptop() {
        font-size: 1.8rem;
    }
    @include phone() {
        font-size: 1.5rem;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'robotomedium', sans-serif;    
    color: $text-color-b;
}

h1 {
    font-size: $ts-h1;
}
h2 {
    font-size: $ts-h2;
    line-height: 52px;
}
h3 {
    font-size: $ts-h3;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
select,
button {
    outline: none;
}

textarea {
    resize: none;
}

audio,
video,
canvas,
iframe,
img,
svg {
    vertical-align: middle;
}

section {
    padding: 125px 0;
}

.container {
    @include wrapper();
    height: 100%;
}

.row {
    @include row-flex();
}

.text-pale {
    opacity: 0.4;
}

.icon {
    transition: 0.3s fill;
}

.btn {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 25px;
    color: #fff;
    transition: 0.3s color, 0.3s background-color;
    border: 1px solid transparent;

    &.btn--green {
        background-color: $acsent-sec;
        color: #fff;
    }
    &.btn--blue {
        background-color: $acsent;
        color: #fff;
        
    }
    &.btn--border {
        border: 1px solid rgba($text-color-b, 0.1);
        color: $text-color-b;
    }

    &:hover {
        &.btn--green {
            background-color: transparent;
            border: 1px solid rgba($acsent-sec, 0.1);            
            color: $acsent-sec;
        }
        &.btn--blue {
            background-color: transparent;
            border: 1px solid rgba($acsent, 0.1);                        
            color: $acsent;
            .icon {
                fill: $acsent;
            }
        }
        &.btn--border {
            background-color: $text-color-b;
            color: white;
            .icon {
                fill: #fff;
            }
        }
    }
}