body,
html {
    height: 100%;
    width: 100%;
}

html {
    line-height: 1;
    font-size: 62.5%;
    box-sizing: border-box;
    color: $text-color_main;
}

body {
    font-size: 1.6rem;
    font-family: $main-font;
    background-color: $white;
    @include desktop() {
        font-size: 1.5rem;
    }
    @include laptop() {
        font-size: 1.4rem;
    }
    @include phone() {
        font-size: 1.3rem;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: $black;
    text-decoration: none;
}

input,
select,
button {
    outline: none;
}

textarea {
    resize: none;
}

audio,
video,
canvas,
iframe,
img,
svg {
    vertical-align: middle;
}

section {
    position: relative;
}