// fonts
$main-font: "robotoregular", sans-serif;

// text-size
$text-size_main: 16px;
$text-size_h1: 63px;
$text-size_h2: 35px;
$text-size_h3: 28px;


// colors
$acsent: #004cd1;
$acsent-hov: #043ea3;
$white: #fff;
$black: #000;

// bg colors
$main-bg: blue; 

// text-color
$text-color_main: #474b57;