// fonts
$main-font: "robotoregular", sans-serif;

// text-size
$ts-main: 2rem;
$ts-h1: 6.2rem;
$ts-h2: 4.2rem;
$ts-h3: 2.6rem;


// colors
$acsent: #267df4;
$acsent-sec: #6fc754;
$yellow: #f2bc3b;
$white: #fff;
$black: #000;
$divider: #8c8f94;

// bg colors
$header-bg: #1f1f1f; 

// text-color
$text-color: #8c8f94;
$text-color-b: #26272d;