// fonts
$main-font: "robotoregular", sans-serif;

// text-size
$ts-main: 1.6rem;
$ts-h1: 10.4rem;
$ts-h2: 3.2rem;
$ts-h3: 2.8rem;


// colors
$acsent: #FF9900;
$acsent-dark: #404040;
$white: #fff;
$black: #000;

// bg colors
$header-bg: #1f1f1f; 

// text-color
$text-color_main: #474b57;