section.section.gallery
        .section__heading-descr наши проекты
        h2.section__heading
            span.text--black Посмотреть
            | галерею проектов
        ul.gallery__list
            li.gallery__item
                .gallery__img
            li.gallery__item
                .gallery__img
            li.gallery__item
                .gallery__img
            li.gallery__item
                .gallery__img
        .btn__wrap
            a(href="#").btn.btn-heading.orange Подробнее
                +icon('arrow-right')
