section.section.our-skills
    .container
        .section__heading-descr наши навыки
        h2.section__heading
            span.text--black Что
            | мы предлагаем
        ul.our-skills__list
            li.our-skills__item
                +icon('cityscape')
                .our-skills__item-content
                    .our-skills__item-heading ЛУЧШАЯ 
                        span.text--bold АРХИТЕКТУРА
                    .our-skills__item-descr 
                        | Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Проектах правилами щеке живет его деревни переписали злых последний
            li.our-skills__item
                +icon('blueprint')
                .our-skills__item-content
                    .our-skills__item-heading удобные 
                        span.text--bold коммуникации
                    .our-skills__item-descr 
                        | Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Проектах правилами щеке живет его деревни переписали злых последний
            li.our-skills__item
                +icon('improvement')
                .our-skills__item-content
                    .our-skills__item-heading качественная 
                        span.text--bold отделка
                    .our-skills__item-descr 
                        | Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Проектах правилами щеке живет его деревни переписали злых последний
            li.our-skills__item
                +icon('assembly-line')
                .our-skills__item-content
                    .our-skills__item-heading команда 
                        span.text--bold специалистов
                    .our-skills__item-descr 
                        | Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Проектах правилами щеке живет его деревни переписали злых последний
            li.our-skills__item
                +icon('tool-1')
                .our-skills__item-content
                    .our-skills__item-heading надежные 
                        span.text--bold материалы
                    .our-skills__item-descr 
                        | Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Проектах правилами щеке живет его деревни переписали злых последний
            li.our-skills__item
                +icon('tool-2')
                .our-skills__item-content
                    .our-skills__item-heading строительный   
                        span.text--bold транспорт
                    .our-skills__item-descr 
                        | Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Проектах правилами щеке живет его деревни переписали злых последний