section.section.we-done
    .container
        ul.we-done__list
            li.we-done__item
                .we-done__number 110
                .we-done__text  проектов
                    br
                    | сделано
            li.we-done__item
                .we-done__number 210
                .we-done__text  проектов
                    br
                    | сделано
            li.we-done__item
                .we-done__number 1130
                .we-done__text  проектов
                    br
                    | сделано

